<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="DVP::main" title="DVP - Blog" module="DVP_Blog" sortOrder="10" resource="Magento_Backend::content"/>
		<add id="DVP_Blog::dvp_blog_post" title="Posts" module="DVP_Blog" sortOrder="10" resource="Magento_Backend::content" parent="DVP::main" action="dvp_blog/post/index"/>
	</menu>
</config>
